---
layout: default
---

<div class="container-fluid" style="margin-top: 80px;">
<div class="row">
   {% for post in site.categories.theme %}
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
            <div class="mainflip">
                <div class="frontside">
                    <div class="card">
                        <div class="card-body text-center">
                            <p><img alt="{{ post.title }}" src="/thumbnails/{{ post.thumbnail }}" class="rounded-circle" height="80" width="80"></p>
                            <h4 class="card-title"> {{ post.title }}</h4>
                            <p class="card-text">{{ post.author }}</p>
                           <svg class="icon icon-plush"><use xlink:href="#icon-plush"></use></svg>
                        </div>
                    </div>
                </div>
                <div class="backside">
                    <div class="card">
                        <div class="card-body text-center mt-4">
                            <h2 class="card-title"> {{ post.title }}</h2>
                            <p class="card-text">{% if page.excerpt %}{{ page.description | truncate: 60  }}{% else %}{{ post.excerpt | truncate: 60  }}{% endif %}</p>
                             <a href="{{ post.url }}" title="{{ post.title }}">View Theme</a>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

