<!-- Start Header -->
<nav class="navbar navbar-default navbar-fixed-top no-print">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand scroll" href="/"><img src="{{ site.url }}/{{ site.logo_url }}" alt="{{ site.title }}"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        {% if page.layout == 'post' or page.layout == 'page' %} 
        <div class="collapse navbar-collapse scrollspy" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a class="scroll" href="{{ site.url }}" title="Beranda">Beranda</a></li>
                <li><a class="scroll" href="{{ site.url }}/administrasi" title="Administrasi">Administrasi</a></li>
                <li><a class="scroll" href="{{ site.url }}/artikel" title="Artikel">Artikel</a></li>
                <li><a class="scroll" href="{{ site.url }}/berita" title="Berita">Berita</a></li>
                <li><a class="scroll" href="{{ site.url }}/bsd" title="Buku Sekolah Digital (BSD)">BSD</a></li>
                <li><a class="scroll" href="{{ site.url }}/teori" title="Teori">Teori</a></li>
                <li><a class="scroll" href="{{ site.url }}/tutorial" title="Tutorial">Tutorial</a></li>
                <li><a class="scroll" href="{{ site.url }}/kontributor/daftar-kontributor" title="Kontributor">Kontributor</a></li>
              </ul>
        </div>
        {% else %}
        <div class="collapse navbar-collapse scrollspy" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a class="scroll" href="#top">Beranda</a></li>
                <li><a class="scroll" href="#tentang">Tentang</a></li>
                <li><a class="scroll" href="#kategori">Kategori</a></li>
                <li><a class="scroll" href="#team">Kontributor</a></li>
                <li><a class="scroll" href="#testimonials">Testimonials</a></li>
                <li><a class="scroll" href="#gallery">Gallery</a></li>
              </ul>
        </div>     
       
        {% endif %}
    </div>
</nav>
<!-- End Header -->
