{% assign author = site.authors[page.author] %}
<header>
    <div class="jumbotron jumbotron-fluid bg-white position-relative">
        <div class="h-100 tofront">
            <div class="row {% if page.image %} justify-content-between {% else %} justify-content-center {% endif %}">
                <div class="col-md-9 col-md-7 col-sm-7 col-sm-5 align-self-center">
			 {% if page.breadcrumbs %}
  <nav class="breadcrumbs mb-3 no-print" itemscope itemtype="http://schema.org/BreadcrumbList" aria-label="Breadcrumbs">
    <span class="breadcrumb sr-only" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a href="{{ '/' | relative_url }}" itemprop="item">
        <span itemprop="name">Home</span>
        <meta itemprop="position" content="1" />
      </a>
    </span>
    {% for crumb in page.breadcrumbs %}
      <span class="breadcrumb" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <a href="{{ crumb.url | relative_url }}" itemprop="item">
          <span itemprop="name">{{ crumb.label }}</span>
          <meta itemprop="position" content="{{ forloop.index | plus: 1 }}" />
        </a>
      </span>
      {% if forloop.last == true %}
        <span class="breadcrumb sr-only" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a href="{{ page.url | relative_url }}" itemprop="item" aria-current="page">
            <span itemprop="name">{{ page.title | strip_html }}</span>
            <meta itemprop="position" content="{{ forloop.length | plus: 2 }}" />
          </a>
        </span>
      {% endif %}
    {% endfor %}
  </nav>
{% endif %}    
                    <h1 class="display-4 mb-2 article-headline">{{ page.title }}</h1>
			<div class="d-flex align-items-center no-print mb-4">

                       <small class="text-muted d-block mt-1"><svg class="icon icon-user"><use xlink:href="#icon-user"></use></svg>&nbsp; &nbsp;{{page.author}}
	  <svg class="icon icon-calendar"><use xlink:href="#icon-calendar"></use></svg>&nbsp; &nbsp;{{ page.date | date_to_string }} <span class="read-time" title="Estimated read time">
         &nbsp; &nbsp; <svg class="icon icon-clock-o"><use xlink:href="#icon-clock-o"></use></svg>     
          <span itemprop="timeRequired">
          {% assign words = content | number_of_words %}
          {% if words < 360 %}
            1 min read
          {% else %}
            {{ words | divided_by:180 }} Mins read
          {% endif %}
          </span>
        </span></small>
                        </span>
				
                    </div>
			<div class="meta clearfix mb-4">


	{% if page.homepage %}
			<a class="btn-sm btn-default" href="{{ page.homepage }}"><svg class="icon icon-home"><use xlink:href="#icon-home"></use></svg> Homepage</a>
		{% endif %}
		{% if page.download %}
			<a class="btn-sm btn-default" href="{{ page.download }}"><svg class="icon icon-download"><use xlink:href="#icon-download"></use></svg> Download</a>
		{% endif %}
		{% if page.demo %}
			<a class="btn-sm btn-default" href="{{ page.demo }}"><svg class="icon icon-eye"><use xlink:href="#icon-eye"></use></svg> Demo</a>
		{% endif %}
		{% if page.license_link %}
			<a class="btn-sm btn-default" href="{{ page.license_link }}"><svg class="icon icon-licenese"><use xlink:href="#icon-licenese"></use></svg> License</a>
		{% endif %}
	</div>
                </div>
                {% if page.image %}
                <div class="col-md-3 align-self-center">
                    <img class="rounded lazyload" src="/thumbnails/{{ page.thumbnail | replace: "thumbnails/",""}}" alt="{{ page.title }}"/>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</header>
