/* LAYOUT
-------------------------------------------------*/
.container-fluid {
    @include breakpoint(medium) {
        max-width: 1100px;
    }
}

.row {
    &:before, &:after {
        display: block;
    }
}
.mb-4, .my-4 {
    margin-bottom: 1.5rem!important;
}
.mb-2, .my-2 {
    margin-bottom: .5rem!important;
}
.mt-2, .my-2 {
    margin-top: .5rem!important;
} 
header {
    margin-top: 70px;
}
@media screen and (max-width: 768px){
.col-md-6.align-self-center {
    padding: 0 40px;
    }}
.article {
    margin-bottom: 30px;
}
.description {
    margin-top: 20px;
}
.shadow {
    box-shadow: 0 .15rem 1.75rem 0 rgba(33,37,41,.15)!important;
}

.justify-content-between {
    justify-content: space-between!important;
}
.d-flex {
    display: flex!important;
}.font-weight-bold {
    font-weight: 700!important;
}

.card{position:relative;display:flex;flex-direction:column;min-width:0;word-wrap:break-word;background-color:#fff;background-clip:border-box;border:1px solid rgba(0,0,0,.125);border-radius:.5rem}.card>hr{margin-right:0;margin-left:0}.card>.list-group:first-child .list-group-item:first-child{border-top-left-radius:.5rem;border-top-right-radius:.5rem}.card>.list-group:last-child .list-group-item:last-child{border-bottom-right-radius:.5rem;border-bottom-left-radius:.5rem}.card-body{flex:1 1 auto;padding:1.25rem}.card-title{text-transform: capitalize;margin-bottom:.75rem}.card-subtitle{margin-top:-.375rem;margin-bottom:0}.card-text:last-child{margin-bottom:0}.card-link:hover{text-decoration:none}.card-link+.card-link{margin-left:1.25rem}.card-header{padding:.75rem 1.25rem;margin-bottom:0;background-color:rgba(0,0,0,.03);border-bottom:1px solid rgba(0,0,0,.125)}.card-header:first-child{border-radius:calc(.5rem - 1px) calc(.5rem - 1px) 0 0}.card-header+.list-group .list-group-item:first-child{border-top:0}.card-footer{padding:.75rem 1.25rem;background-color:rgba(0,0,0,.03);border-top:1px solid rgba(0,0,0,.125)}.card-footer:last-child{border-radius:0 0 calc(.5rem - 1px) calc(.5rem - 1px)}.card-header-tabs{margin-right:-.625rem;margin-bottom:-.75rem;margin-left:-.625rem;border-bottom:0}.card-header-pills{margin-right:-.625rem;margin-left:-.625rem}.card-img-overlay{position:absolute;top:0;right:0;bottom:0;left:0;padding:1.25rem}.card-img{width:100%;border-radius:calc(.5rem - 1px)}.card-img-top{width:100%;border-top-left-radius:calc(.5rem - 1px);border-top-right-radius:calc(.5rem - 1px)}.card-img-bottom{width:100%;border-bottom-right-radius:calc(.5rem - 1px);border-bottom-left-radius:calc(.5rem - 1px)}.card-deck{display:flex;flex-direction:column}.card-deck .card{margin-bottom:.75rem}@media(min-width:576px){.card-deck{flex-flow:row wrap;margin-right:-.75rem;margin-left:-.75rem}.card-deck .card{display:flex;flex:1 0 0%;flex-direction:column;margin-right:.75rem;margin-bottom:0;margin-left:.75rem}}.card-group{display:flex;flex-direction:column}.card-group>.card{margin-bottom:.75rem}@media(min-width:576px){.card-group{flex-flow:row wrap}.card-group>.card{flex:1 0 0%;margin-bottom:0}.card-group>.card+.card{margin-left:0;border-left:0}.card-group>.card:not(:last-child){border-top-right-radius:0;border-bottom-right-radius:0}.card-group>.card:not(:last-child) .card-img-top,.card-group>.card:not(:last-child) .card-header{border-top-right-radius:0}.card-group>.card:not(:last-child) .card-img-bottom,.card-group>.card:not(:last-child) .card-footer{border-bottom-right-radius:0}.card-group>.card:not(:first-child){border-top-left-radius:0;border-bottom-left-radius:0}.card-group>.card:not(:first-child) .card-img-top,.card-group>.card:not(:first-child) .card-header{border-top-left-radius:0}.card-group>.card:not(:first-child) .card-img-bottom,.card-group>.card:not(:first-child) .card-footer{border-bottom-left-radius:0}}.card-columns .card{margin-bottom:.75rem}@media(min-width:576px){.card-columns{column-count:3;column-gap:1.25rem;orphans:1;widows:1}.card-columns .card{display:inline-block;width:100%}}.accordion>.card{overflow:hidden}.accordion>.card:not(:first-of-type) .card-header:first-child{border-radius:0}.accordion>.card:not(:first-of-type):not(:last-of-type){border-bottom:0;border-radius:0}.accordion>.card:first-of-type{border-bottom:0;border-bottom-right-radius:0;border-bottom-left-radius:0}.accordion>.card:last-of-type{border-top-left-radius:0;border-top-right-radius:0}.accordion>.card .card-header{margin-bottom:-1px}
body{background: #f8f9fa;}

.rounded-circle {
    border-radius: 10px;
}
.btn-round {
    border-radius: 30px !important;
}
.ml-3 {
    margin-left: 1rem !important;
}span.ml-3 a {
    color: #222;
    text-transform: capitalize;
}.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.btn-outline-success {
    color: #3dadb2 !important;
    background-color: whitesmoke;
    background-image: none;
    border: 1px solid #eeeeee;
}
.btn-outline-success:hover {
    background: #fff;
}
.d-block {
    display: block !important;
}.mt-1 {
    margin-top: 5px;
}

.aside h3 {
    font-size: 1em;
    margin: 0;
}.side a {
    text-transform: capitalize;
}
.alertbar {
    box-shadow: 0 -3px 10px 0 rgba(0,0,0,.0785);
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    padding: 20px 0;
    z-index: 1021;
    display: none;
}
.alertbar img {
    height: 30px;
    margin: 0 5px;
}
#markdown-toc {
    border: 1px solid #e1eeef;
    padding: 1.5em;
    list-style: decimal;
    display: inline-block;
    background: #eeeeee;
    text-align: left;
    min-width: 250px;
}
#markdown-toc::before {
    content: "Daftar isi";
    font-weight: bold;
    display: block;
    clear: both;
    margin: 0 0 15px 0;
    text-align: center;
    border-bottom: 1px solid #ffffff;
}
#markdown-toc ul{list-style:lower-latin;padding:0 0 0 15px}
#markdown-toc a{color:#555;text-decoration:none}#markdown-toc a:hover{color:#f90}
